<!-- <mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>My Journal Entry</mat-card-title>
    <mat-card-title >{{ content.title }}</mat-card-title>
    <mat-card-subtitle>by {{ user.username }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #journalForm= "ngForm" (ngSubmit)="publishJournal()">
      <mat-form-field>
        <p>Title:</p>
        <input matInput placholder="Title your entry" name="title" required>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placholder="start your entry here..." name="content_text" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="onCancel()" color="warn">Cancel</button>
    <button mat-stroked-button (click)="onSubmit()" color="accent">Publish</button>
  </mat-card-actions>
</mat-card> -->

<h1>Create a Note.</h1>
<hr>

<form (ngSubmit)="onSubmit()" [formGroup]="noteForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" type="Title" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Content" formControlName="Content" type="Content" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Note</button>
</form>

<a mat-button routerLink="/notes">Back to List</a>