<mat-card class="site-nav">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="/about">About Cosmoknot</a>
      <a class="nav-item nav-link" routerLink="/mission">Our Mission</a>
      <app-login></app-login>
      <app-create-user></app-create-user>
      <app-register-admin></app-register-admin>
    </div>
  </nav>
</mat-card>
<router-outlet></router-outlet>